# Pandas

* 데이터 분석을 용이하게 할 수 있는 패키지
* 가장 많이 사용하는 자료구조 : Series, DataFrame

> Series : 동일 데이터 유형, 복수 개 성분으로 구성된 자료구조<br>
> DataFrame : 서로 같거나 다른 데이터 유형, 보수개 성분으로 구성된 자료구조

## Series

### 1. Series 생성
(1) 리스트를 사용하여 Series생성 : Series(리스트)

(2) 사전 형식을 사용하여 Series생성(index:value)

(3) Series생성 시, index를 지정

In [2]:
import numpy as np
import pandas as pd

#### * 리스트를 사용하여 Series생성

In [3]:
obj = pd.Series([4, 7, -5, 3])    # Series(리스트)
obj

0    4
1    7
2   -5
3    3
dtype: int64

#### * Series 생성 시, index 값 지정

In [8]:
obj2 = pd.Series([4, 7, -5, 3], index=['b', 'd', 'a', 'c'])       # index 값을 지정
obj2

b    4
d    7
a   -5
c    3
dtype: int64

#### * 사전형식(index:value)을 사용하여 Series생성

In [9]:
sdata = {"Knag":35000, "Pyo":71000, "Wol":16000, "Seong":5000}     # 사전 생성
obj3 = pd.Series(sdata)                                            # Series 생성
obj3

Knag     35000
Pyo      71000
Wol      16000
Seong     5000
dtype: int64

### 2. Series의 index 출력

In [10]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [11]:
obj.index

RangeIndex(start=0, stop=4, step=1)

### 3. Series의 value값 출력

In [12]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [13]:
obj.values

array([ 4,  7, -5,  3])

### 4. Series의 데이터 타입 출력

In [14]:
obj.dtypes

dtype('int64')

### 5. Series에 이름 붙이기

In [15]:
obj3

Knag     35000
Pyo      71000
Wol      16000
Seong     5000
dtype: int64

In [16]:
obj3.name = "연봉"     # Series에 이름 붙이기

In [17]:
obj3

Knag     35000
Pyo      71000
Wol      16000
Seong     5000
Name: 연봉, dtype: int64

### 6. Series의 index에 이름 붙이기

In [18]:
obj3.index.name = "이름"     # index에 이름 붙이기
obj3

이름
Knag     35000
Pyo      71000
Wol      16000
Seong     5000
Name: 연봉, dtype: int64

### 7. Series의 index값 변경 (index 재정의)

In [19]:
obj3.index = ['A', 'B', 'C', 'D']
obj3

A    35000
B    71000
C    16000
D     5000
Name: 연봉, dtype: int64